.profile-container .flex-container { /*profile contents*/
  display: flex;
  justify-content: center;

}
body{
  overflow-x: hidden !important;
}

.info-panel {/*profile info all*/
  justify-content: center;
  text-align: center;
  flex: 1; /* Allows each section to take equal space */
  padding: 10px; /* Add some padding around the content */

}

.map-box {
  flex: 3; /* Allows each section to take equal space */
  min-height: 300px;

}

app-map-box {
  height: 300px; /* Set a fixed height for the map */
  width:100%;
}

/* You might want to add some media queries to stack the layout on smaller screens */
@media (max-width: 768px) {
  .profile-container .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .info-panel,
  .map-box {
    flex: none; /* Take full width */
    width: 100%;
  }
  .map-box{
    flex: 1;
    overflow-x: hidden;

    
  }
}

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;

  img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
  }

  .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
  }

  span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
  }
}

.profile-button { /*follow, following buttons*/
  display: block;
  width: 100%;
  margin: 5px 0; /* Add some space between buttons */
  /* Further styling for buttons */
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 16px;
  gap: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #0056b3;
}

.profile-button:focus {
  outline: none;
}

.post-image {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Maintain aspect ratio */
}
