<div class="login-wrap">
  <div class="login-html">
    <div class = "login-contents">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked (click)="resetForms()"><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up" (click)="resetForms()"><label for="tab-2" class="tab">Sign Up</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="group">
              <label class="label">Email</label>
              <input class="input" type="email" placeholder="johndoe@example.com" formControlName="email">
              <mat-error *ngIf="loginForm.get('email')!.hasError('required') && loginForm.get('email')!.touched" style="color: white;">
                  Email is required
              </mat-error>
              <mat-error *ngIf="loginForm.get('email')!.hasError('email')" style="color: white">
                Email is invalid
              </mat-error>
            </div>
            <div class="group">
              <label class="label">Password</label>
              <input class="input" type="password" matInput placeholder="Password" formControlName="password" />
              <mat-error
                *ngIf="loginForm.get('password')!.hasError('required') && loginForm.get('password')!.touched"
                style="color: white"
              >
                Password is required
              </mat-error>
            </div>
            <br />
            <div class="group">
              <input type="submit" class="button" value="Sign In" [disabled]="!loginForm.valid" onclick="" />
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a [routerLink]="['../reset-password']" style="color: white">Forgot Password?</a>
            </div>
          </form>
        </div>

        <div class="sign-up-htm">
          <form [formGroup]="signupForm" (ngSubmit)="regester()">
            <div class="form-container">
              <div class="row1">
                <div class="group">
                  <label class="label">First Name</label>
                  <input type="text" class="input" placeholder="Ex: John" formControlName="firstName" />
                  <mat-error
                    *ngIf="signupForm.get('firstName')!.hasError('required') && signupForm.get('firstName')!.touched"
                    style="color: white"
                  >
                    First name is required
                  </mat-error>
                </div>

                <div class="group">
                  <label class="label">Last Name</label>
                  <input type="text" class="input" placeholder="Ex: Doe" formControlName="lastName" />
                  <mat-error
                    *ngIf="signupForm.get('lastName')!.hasError('required') && signupForm.get('lastName')!.touched"
                    style="color: white"
                  >
                    Last name is required
                  </mat-error>
                </div>

                <div class="group">
                  <label class="label">Username</label>
                  <input type="text" class="input" placeholder="Ex: johndoe" formControlName="username" />
                  <mat-error
                    *ngIf="signupForm.get('username')!.hasError('required') && signupForm.get('username')!.touched"
                    style="color: white"
                  >
                    Username is required
                  </mat-error>
                </div>

                <div class="group">
                  <label class="label">Phone Number</label>
                  <input
                    class="input"
                    type="text"
                    [mask]="'(000)-000-0000'"
                    placeholder="ex. (111)-111-1111"
                    formControlName="phoneNumber"
                    style="color: white"
                  />
                  <mat-error
                    *ngIf="
                      signupForm.get('phoneNumber')!.hasError('required') && signupForm.get('phoneNumber')!.touched
                    "
                    style="color: white"
                  >
                    Phone Number is required
                  </mat-error>
                  <mat-error
                    *ngIf="signupForm.get('phoneNumber')!.hasError('pattern') && signupForm.get('phoneNumber')!.touched"
                    style="color: white"
                  >
                    Phone Number is invalid
                  </mat-error>
                </div>
              </div>
              <div class="row2">
                <div class="group">
                  <label class="label">Email</label>
                  <input class="input" type="email" placeholder="Ex: johndoe@example.com" formControlName="email" />
                  <mat-error
                    *ngIf="signupForm.get('email')!.hasError('required') && signupForm.get('email')!.touched"
                    style="color: white"
                  >
                    Email is required
                  </mat-error>
                  <mat-error *ngIf="signupForm.get('email')!.hasError('email')" style="color: white">
                    Email is invalid
                  </mat-error>
                </div>

                <div class="group">
                  <label class="label">Password</label>
                  <input class="input" type="password" matInput placeholder="Password" formControlName="password" />
                  <mat-error
                    *ngIf="signupForm.get('password')!.hasError('required') && signupForm.get('password')!.touched"
                    style="color: white"
                  >
                    Password is required
                  </mat-error>
                </div>

                <div class="group">
                  <label class="label">Confirm Password</label>
                  <input class="input" type="password" placeholder="Password" formControlName="passwordConfirm" />
                  <mat-error
                    *ngIf="
                      signupForm.get('passwordConfirm')!.hasError('required') &&
                      signupForm.get('passwordConfirm')!.touched
                    "
                    style="color: white"
                  >
                    Confirm password is required
                  </mat-error>
                  <mat-error
                    *ngIf="signupForm.get('passwordConfirm')!.touched && signupForm.hasError('passwordsNotMatching')"
                    style="color: white"
                    ><small>Passwords are not matching</small></mat-error
                  >
                </div>
              </div>
            </div>
            <div class="group">
              <input type="submit" class="button" value="Sign Up" [disabled]="!signupForm.valid" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
