<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content align="center">
  <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
    <h1 class="page-title">Change Password</h1>
    <label> Current Password: </label>
    <input type="password" formControlName="oldPassword" /><br />
    <mat-error
      *ngIf="
        passwordChangeForm.get('oldPassword')!.hasError('required') && passwordChangeForm.get('oldPassword')!.touched
      "
    >
      Current Password is required
    </mat-error>
    <label> New Password: </label>
    <input type="password" formControlName="newPassword" /><br />
    <mat-error
      *ngIf="
        passwordChangeForm.get('newPassword')!.hasError('required') && passwordChangeForm.get('newPassword')!.touched
      "
    >
      New Password is required
    </mat-error>
    <label> Confirm Password: </label>
    <input type="password" formControlName="newPasswordConfirm" />
    <mat-error
      *ngIf="
        passwordChangeForm.get('newPasswordConfirm')!.hasError('required') &&
        passwordChangeForm.get('newPasswordConfirm')!.touched
      "
    >
      New Password is required
    </mat-error>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close="true">Cancel</button>
  <button mat-button mat-dialog-close="true" cdkFocusInitial (click)="onSubmit()">Change Password</button>
</mat-dialog-actions>
