<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label for="tab-1" class="tab">Reset Password</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up" /><label for="tab-2" class="tab"></label>
    <div class="login-form">
      <div class="sign-in-htm">
        <form [formGroup]="resetPassordForm" (ngSubmit)="resetPassword()">
          <div class="group">
            <label class="label">Email</label>
            <input class="input" type="email" placeholder="Ex: johndoe@example.com" formControlName="email" />
            <mat-error
              *ngIf="resetPassordForm.get('email')!.hasError('required') && resetPassordForm.get('email')!.touched"
              style="color: white"
            >
              Email is required
            </mat-error>
            <mat-error *ngIf="resetPassordForm.get('email')!.hasError('email')" style="color: white">
              Email is invalid
            </mat-error>
          </div>
          <br />
          <div class="group">
            <input type="submit" class="button" value="Reset" [disabled]="!resetPassordForm.valid" />
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a [routerLink]="['../auth']" style="color: white">Go back to login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
